﻿@section Scripts {
    @Scripts.Render("~/Scripts/productsScript.js")
}

<div class="row">

    <div class="col-sm-4">
        <form method="post" action="post/" id="register">
            <h3>Register</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </form>
            <h4 id="info"></h4>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="logIn">
            <h3>Log in</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>
<br />
<hr />
<br />
<div class="row">
    <div id="products" class="col-sm-6">
        <h3>Products</h3>
    </div>
    <div id="addProduct" class="col-sm-4">
        <form method="post" action="post/" id="prodForm">
            <h3>Add new product</h3>
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" id="prodName" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="number" id="prodPrice" />
            </div>
            <div class="form-group">
                <label>Manufacture date</label>
                <input class="form-control" type="date" id="prodDate" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>